@import url("./styles/grafico.css");
@import url("./styles/cabecalho.css");
@import url("./styles/rodape.css");
@import url("./styles/sidebar.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lilas: rgb(27, 27, 27);
    --roxo: #4a1ab9;
    --verde-claro: #CCF8ED;
    --verde-escuro: #00DEA3;
    --cinza: #3d3d3d;
    --branco: rgba(255, 255, 255, 0.932);
    --fonte: "Poppins", sans-serif;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    line-height: 29px;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
    background-color: var(--lilas);
}