.dadosDolar,
.dadosIene,
.dadosEuro {
    margin: 2rem;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 24px;
    color: var(--cinza);
} 

.grafico {
    width: 40vw;
}

.grafico__titulo {
    display: flex;
    align-items: center;
}

.grafico__titulo span {
    background-repeat: no-repeat;
    width: 50px;
    height: 40px;
}

.grafico__ilustracao-dolar {
    background-image: url('../imagens/cifrao.png');
}

.grafico__ilustracao-iene {
    background-image: url('../imagens/iene.png');
}

.grafico__ilustracao-euro {
    background-image: url('../imagens/euro.png');
}

.grafico__titulo h2 {
    color: var(--cinza);
    font-weight: 700;
    font-size: 24px;
}

.investimentos__lista {
    margin: 2em;
    color: var(--cinza);
}

.investimentos__lista li {
    margin: 1em 0;
}


@media screen and (max-width: 550px){
    .dadosDolar,
    .dadosIene,
    .dadosEuro {
        flex-direction: column;
        margin: 3rem 0.7rem;
    }

    
    .grafico {
        width: 100%;
    }
    
    .investimentos h2 {
        margin-top: 3rem;
    }

    .grafico__titulo h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 550px) and (max-width: 800px) {
    .dadosDolar,
    .dadosIene,
    .dadosEuro {
        flex-direction: column;
        margin: 3rem;
    }

    .grafico {
        width: 100%;
    }
    
    .investimentos h2 {
        margin-top: 3rem;
    }

    .grafico__titulo h2 {
        font-size: 22px;
    }
}